<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <ion-avatar> -->
      <ion-img style="width: 100px; height:100px;" [src]="contact.image"></ion-img>
    <!-- </ion-avatar> -->
    <ion-card-header>
      <ion-card-title>
        {{contact.name}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{contact.email}}</p>
      <p>Extension : {{contact.ext}}</p>
      <p>Phone: {{contact.mobile1}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
